<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
					<template>
						<v-container fluid grid-list-md>
							<v-data-iterator
								:items="items"
								:rows-per-page-items="rowsPerPageItems"
								:pagination.sync="pagination"
								content-tag="v-layout"
								row
								wrap
							>
								<v-flex
									slot="item"
									slot-scope="props"
									xs12
									sm6
									md4
									lg3
								>
									<v-card>
										<v-card-title><h4>{{ props.item.name }}</h4></v-card-title>
										<v-divider></v-divider>
										<v-list dense>
											<v-list-tile>
												<v-list-tile-content>          
                          <draggable v-model="myArray" :options="{group:'people'}" @start="drag=true" @end="drag=false">
                            <div v-for="element in myArray" :key="element.id">{{element.name}}</div>
                          </draggable>
                        </v-list-tile-content>
												<v-list-tile-content class="align-end">{{ props.item.calories }}</v-list-tile-content>
											</v-list-tile>
											<v-list-tile>
												<v-list-tile-content>
                          <draggable v-model="myArray" :options="{group:'family'}" @start="drag=true" @end="drag=false">
                            <div v-for="element in myArray" :key="element.id">{{element.name}}</div>
                          </draggable></v-list-tile-content>
												<v-list-tile-content class="align-end">{{ props.item.fat }}</v-list-tile-content>
											</v-list-tile>
										</v-list>
									</v-card>
								</v-flex>
							</v-data-iterator>
						</v-container>
					</template>

      

				</v-container>
      </v-content>

    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script> -->
  <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
  <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

  <script>
	   Vue.use("Vuetify")
    // Vue.use("Sortable")
    
    // Vue.component("draggable","vuedraggable")

		new Vue({ el: '#app',
	  data: () => ({
      // components:{
      //   draggable
      // },
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      },
      myArray:[
  {
    "name": "vue.draggable",
    "order": 1,
    "fixed": false
  },
  {
    "name": "draggable",
    "order": 2,
    "fixed": false
  },
  {
    "name": "component",
    "order": 3,
    "fixed": false
  },
  {
    "name": "for",
    "order": 4,
    "fixed": false
  },
  {
    "name": "vue.js 2.0",
    "order": 5,
    "fixed": false
  },
  {
    "name": "based",
    "order": 6,
    "fixed": false
  },
  {
    "name": "on",
    "order": 7,
    "fixed": false
  },
  {
    "name": "Sortablejs",
    "order": 8,
    "fixed": false
  }
],
      items: [
        {
          value: false,
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          value: false,
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          sodium: 129,
          calcium: '8%',
          iron: '1%'
        },
        {
          value: false,
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          sodium: 337,
          calcium: '6%',
          iron: '7%'
        },
        {
          value: false,
          name: 'Cupcake',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          sodium: 413,
          calcium: '3%',
          iron: '8%'
        },
        {
          value: false,
          name: 'Gingerbread',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          sodium: 327,
          calcium: '7%',
          iron: '16%'
        },
        {
          value: false,
          name: 'Jelly bean',
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          sodium: 50,
          calcium: '0%',
          iron: '0%'
        },
        {
          value: false,
          name: 'Lollipop',
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          sodium: 38,
          calcium: '0%',
          iron: '2%'
        },
        {
          value: false,
          name: 'Honeycomb',
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          sodium: 562,
          calcium: '0%',
          iron: '45%'
        },
        {
          value: false,
          name: 'Donut',
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          sodium: 326,
          calcium: '2%',
          iron: '22%'
        },
        {
          value: false,
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          sodium: 54,
          calcium: '12%',
          iron: '6%'
        }
      ]
    })
   })
		
  
</script>
</body>
</html>